<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.mapper.MoneyMapper">

  <resultMap id="queryMoney" type="com.dlu.pojo.HouseTransferAssociation">
    <id property="transferId" column="id" />
    <result property="houseId" column="houseId" />
    <result property="partALoginName" column="partALoginName" />
    <result property="partBLoginName" column="partBLoginName" />
    <result property="createBy" column="createBy" />
    <result property="createTime" column="createTime"/>
    <result property="status" column="status"/>
    <association property="region" javaType="com.dlu.pojo.Region">
      <result property="cityCode" column="cityCode" />
      <result property="cityName" column="cityName" />
      <result property="provinceCode" column="provinceCode" />
      <result property="provinceName" column="provinceName" />
      <result property="districtCode" column="districtCode" />
      <result property="districtName" column="districtName" />
    </association>
    <association property="contract" javaType="com.dlu.pojo.Contract">
      <result property="partAIntermediaryCosts" column="partAIntermediaryCosts" />
      <result property="partBIntermediaryCosts" column="partBIntermediaryCosts" />
    </association>
  </resultMap>



  <insert id="addNewMoneyMsg">
    insert into money(house_id,partA_login_name,partB_login_name,pay_date,pay_money,status,partA_confirm,partB_confirm)
    values(#{houseId},#{partALoginName},#{partBLoginName},#{payDate},#{payMoney},#{status}, #{partAConfirm},#{partBConfirm})
  </insert>
  <update id="updateMsg">
    update money
    <trim prefixOverrides="," prefix="set ">
      <if test="partAConfirm != null and partAConfirm != ''">
        ,partA_confirm = #{partAConfirm}
      </if>
      <if test="partBConfirm != null and partBConfirm != ''">
        ,partB_confirm = #{partBConfirm}
      </if>
      <if test="status != null and status != ''">
        ,status = #{status}
      </if>
      <if test="partAConfirmDate != null ">
        ,partA_confirm_date= #{partAConfirmDate}
      </if>
      <if test="partBConfirmDate != null ">
        ,partB_confirm_date = #{partBConfirmDate}
      </if>
      <if test="prompt != null and prompt!= ''">
        ,prompt = #{prompt}
      </if>
    </trim>
    <where>
      <if test=" id != null">
        and id=#{id}
      </if>
    </where>
  </update>
  <select id="queryHouseMoneyDetailCount" resultType="java.lang.Integer">
      select count(*)
      from money
      where house_id = #{houseId}
    </select>
  <select id="queryHouseMoneyDetail" resultType="com.dlu.pojo.Money">
    select id, house_id, partA_login_name, partB_login_name, pay_date, pay_money,
    status, partA_confirm, partB_confirm, prompt,  partA_confirm_date,
    partB_confirm_date
    from money
    where house_id = #{houseId}
    limit #{page.start},#{page.limit}
  </select>
    <select id="queryHousePay" resultType="java.lang.Double">
      select pay_money
      from money
      where house_id = #{houseId}  and  partA_confirm = '已确认'
    </select>
    <select id="queryHouseHasPay" resultType="java.lang.Double">
      select pay_money
      from money
      where house_id = #{houseId}  and  partB_confirm = '已确认'
    </select>
  <select id="currentMoney" resultType="java.lang.Double">
    select pay_money
    from money
    <where>
      <if test="partALoginName != null and partALoginName !='' ">
        and partA_login_name = #{partALoginName}
        and partA_confirm = '已确认'
      </if>
      <if test="partALoginName != null and partALoginName !='' and startCreateDate !=null and endCreateDate !=null">
        and partA_login_name = #{partALoginName}
        and partA_confirm = '已确认'
        and date_format(partA_confirm_date,'%Y-%m-%d') between date_format(#{startCreateDate},'%Y-%m-%d') and date_format(#{endCreateDate},'%Y-%m-%d')
      </if>
      and (status = '正在进行中' or status = '已完成')
    </where>
  </select>
  <select id="AdQueryMoneyCount" resultType="java.lang.Integer">
    select count(*)
    from house_transfer_association as t1
    left join house_info as t2 on t1.house_id = t2.house_id
    <where>
      <if test="provinceCode != null and provinceCode!=''">
        and t2.province_code = #{provinceCode}
      </if>
      <if test="cityCode != null and cityCode !=''">
        and t2.city_code = #{cityCode}
      </if>
      <if test="districtCode != null and districtCode != ''">
        and t2.district_code = #{districtCode}
      </if>
      <if test="checkBy != null and checkBy !=''">
        and t1.create_by = #{checkBy}
      </if>
      <if test="startCreateDate !=null and endCreateDate !=null">
        and date_format(t1.create_time,'%Y-%m-%d') between date_format(#{startCreateDate},'%Y-%m-%d') and date_format(#{endCreateDate},'%Y-%m-%d')
      </if>
      and ( t1.status = '正在出租' or t1.status = '已结束' )
    </where>
  </select>

  <select id="AdQueryMoney" resultMap="queryMoney">
    select t1.transfer_id as id, t1.house_id as houseId, t1.partA_login_name as partALoginName,
    t1.partB_login_name as partBLoginName,t1.create_by as createBy,t1.create_time as createTime,
    t1.status as status, t2.province_code as provinceCode ,t4.province_name as provinceName,
    t2.city_code as cityCode ,t5.city_name as cityName,t2.district_code as districtCode,
    t6.district_name as districtName, t3.partA_intermediary_costs as partAIntermediaryCosts,
    t3.partB_intermediary_costs as partBIntermediaryCosts
    from house_transfer_association as t1
    left join house_info as t2 on t1.house_id = t2.house_id
    left join contract as t3 on t1.house_id = t3.house_id
    left join provinces as t4 on t2.province_code = t4.province_code
    left join cities as t5 on t2.city_code = t5.city_code
    left join districts as t6 on t2.district_code = t6.district_code
    <where>
      <if test="queryMoneyDTO.provinceCode != null and queryMoneyDTO.provinceCode!=''">
        and t2.province_code = #{queryMoneyDTO.provinceCode}
      </if>
      <if test="queryMoneyDTO.cityCode != null and queryMoneyDTO.cityCode !=''">
        and t2.city_code = #{queryMoneyDTO.cityCode}
      </if>
      <if test="queryMoneyDTO.districtCode != null and queryMoneyDTO.districtCode != ''">
        and t2.district_code = #{queryMoneyDTO.districtCode}
      </if>
      <if test="queryMoneyDTO.checkBy != null and queryMoneyDTO.checkBy !=''">
        and t1.create_by = #{queryMoneyDTO.checkBy}
      </if>
      <if test="queryMoneyDTO.startCreateDate !=null and queryMoneyDTO.endCreateDate !=null">
        and date_format(t1.create_time,'%Y-%m-%d') between date_format(#{queryMoneyDTO.startCreateDate},'%Y-%m-%d') and date_format(#{queryMoneyDTO.endCreateDate},'%Y-%m-%d')
      </if>
      and ( t1.status = '正在出租' or t1.status = '已结束' )
    </where>
    limit #{page.start},#{page.limit}

  </select>


</mapper>